/backend/node_modules
/backend/.env

/convert-worker/node_modules
/convert-worker/.env

/chunk-worker/node_modules
/chunk-worker/.env

/transcription-workers/node_modules
/transcription-workers/.env

/aggregation-worker/node_modules
/aggregation-worker/.env

/cf-gateway/.wrangler
/cf-gateway/node_modules
/cf-gateway/wrangler.toml

logs.txt


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/frontend/node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
